language: node_js

node_js:
  - '8'
  - '9'
  - '10'

cache:
  yarn: true

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.7.0
  - export PATH=$HOME/.yarn/bin:$PATH

script:
  - yarn build
  - yarn lint
  # - yarn test

jobs:
  include:
    - stage: deploy
      script:
        - if [ -n "$TRAVIS_TAG" ]; then node node_modules/.bin/workspace-publish; fi
      node: '9'

env:
  global:
    secure: juUZS/M9gol9zEPUn4/J7yBX2qLum+jSKbHGChtUigYQJHJ5gKIdnh5e1tEN7KoWqMt94b8ySV5j9HaVsxRb4CKfv9OvlifvDVPTQb+6kbCy8jSd3IU+C7kpdAEQsCVqZa7xoc5AC6SDjGNxc8xPyLxL1u3zpVnOBMq0Va7hhOiQz77KWYj7Rt03cjVCy5CDJsy6xsKsg3OB6HM3fTIiyDbOx+8PS6vjeVZVka8dXt/n8ioX/LKYtEpERxF5rjic0NkSQHq33pVpyGLP100iKYnkJAuWQOkZjh8EOKEqisVcIuyeTwuBxbDghk06qTcFuqMQi8wZhH6MdgNobmIKk9/UZenx3K2PtDgi5Bs7rIGaZfa/V36/qGFnZZwM1he7v4Vpob+qfIwfIUB+T3x6JnUgTOIp2MxHzCF89aRnYNIl0aEagvJxRE7E2YnsJDK6XUN8RTAI8S6WvnNt+0qlSTVskUx36PxWJIsAyzsHbDA5L51EUsYeb8vXbE+XDkibncx6L4IWR7x1NKrdJaj6Vk8dhm9/btoum4J1Zf8BR9/yb4JCNKOA4CUvfayYEWdTDLN1Qfd86vptOfyzXryp6rP17NOf0E/lL204uzp01jZ7uSGTml0vl4QtjiGHeZZW7SXt+WDTqhI7GhKjtevvUKjNA5Tuh+TQ8vqA3+lz+f4=
