language: node_js

node_js:
  - '8'
  - '9'
  - '10'
  - '11'

cache:
  yarn: true

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.7.0
  - export PATH=$HOME/.yarn/bin:$PATH

script:
  - yarn build
  - yarn lint
  # - yarn test

jobs:
  include:
    - stage: deploy
      script:
        - if [ -n "$TRAVIS_TAG" ]; then node node_modules/.bin/workspace-publish; fi
      node: '9'

env:
  global:
    secure: 3HqCBvW2TQLJEfBU6TKvi0PI1uA2JYw5PexRk0lC6CwA3Ua+Y6wFQZkUUeGZqI84WiyyR6UQPpugxN9noHKzRl9ylKg1DDibB9ARJaF8HdA/qz5Thp2/ifwiEVRYSKEjYBQFvzZ171jjzhfUs2BzrNpMfJdjoKmdpmlSpovObmQlms7GeCx6rNLRue0SZlkizV+5EZoVWblv6otlb6UAnfjCTkv1/kNvIVcDIhprUi1H82fiHNdMb1X1DS+nq2fCjIDer9J+dfoonQ995YVsayU8oeJAcUkEvCZMaOqBsAPbJZCQ4i6hXostbf6a7gb1Oa5CnkzYvf292x2rdpEGyNrIXvxpIt5uE1+DW3nFk9641dt1226AEDAfdf7WWJS1g1SHlN+TKuDZ98RdOeYRkiu4cj0c1PX0kOzVmNgdC6+nJXfCsHm9YNuxk3EGN5wghpyMQgmr9MlwFAUFHoi0rZRfZ+KdJ1KM4NcSPMQXK7qiwdvqjgFktKaFZxLgPGX6JUyMW74hiT63TL/h1p/dW89Zyhmtp++/4EDe1vH14COFwQjJeb4FHOwzea/sQs7iooxbdbNbLMgoDH88Ocx4xXPTUKhJ/OPzqVq40J5YCQoWZidU99628XbOWJuM3WOJ1Vf+mvAyaGvnjQH9Bm9zwX3/JArjngp3xzjjagIpSMU=
